{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1>DASHBOARD - PROJECT</h1>
        <p>List of Fragrances</p>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">First Famlily</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">Martet Name</th>
            </tr>
            </thead>
            <tbody>
            {% for fragrance in fragrance_list %}
                <tr>
                    <th scope="row"><a href="{% url 'fragrance_detail' fragrance.id %}">{{ fragrance.fragrance_code }}</a></th>

                    {##}
                    {#                    <td>{% for ff in f.first_family.all %}#}
                    {#                        <span>{{ ff }}</span><br>#}
                    {#                    {% endfor %}#}
                    {#                    </td>#}
                    <td>

                        <ul class="list-group list-group-flush">
                            {% for firstfamily in fragrance.first_family.all %}
                                <li class="list-group-item">{{ firstfamily }} </li>
                            {% endfor %}

                        </ul>


                    </td>

                    <td>{{ fragrance.expiry_date }}</td>
                    <td>
                        <ul class="list-group list-group-flush">
                            {% for market in fragrance.market_type.all %}
                                <li class="list-group-item">{{ market }} </li>
                            {% endfor %}

                        </ul>

                    </td>

                </tr>
            {% endfor %}

            </tbody>
        </table>


        <!-- Pagination section fragrance list -->
        {% if page_obj.has_other_pages %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item "><a class="page-link"
                                              href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} </span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
        <!-- END of pagination section -->

    </div>

{% endblock content %}



