{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}


    <div class="container">
        <h2>Dashboard</h2>

        <!------------------ testing django filters ----------->
{#    #}
{#        <form method="GET">#}
{#            {{ fragrance_filter.form.as_p }}#}
{##}
{#            <button type="submit" class="btn btn-primary">SEARCH</button>#}
{#        </form>#}
{##}
{##}
{#        <ul>#}
{#            {% for filter in fragrance_filter.qs %}#}
{#                <li>#}
{#                    <p>{{ filter.fragrance_code }}</p>#}
{#                </li>#}
{##}
{#            {% endfor %}#}
{##}
{##}
{#        </ul>#}

        <!-- END Testing django filters -------------- -->

        <!----------------------- FILTER AREA -------------------------------->
        <div>
            <h4>Filter By Categories</h4>

            <div class="card border rounded-3 border-3 mb-3">
                <div class="card-body">
                    <form>
                        {% csrf_token %}

                        <!-------- First row  -------->
                        <div class="row mb-3">
                            <div class="col">
                                <label for="id_fragrance_code">Fragrance Code:</label>
                                {% render_field fragrance_filter.form.fragrance_code class='form-control' placeholder='Fragrance Code' %}


                            </div>
                            <div class="col">
                                <label for="id_commercial_name">Commercial Name:</label>
                                {% render_field fragrance_filter.form.commercial_name class='form-control' placeholder='Commercial Name' %}


                            </div>
                            <div class="col">
                                <label for="id_application">Application:</label>
                                {% render_field fragrance_filter.form.application class='form-control' placeholder='application' %}


                            </div>

                        </div>


                        <!-- ----- Second Row --------- -->
                        <div class="row mb-3">

                            <div class="col">
                                <div class="card shadow-sm">
                                    <p class="mt-1 mb-0 ms-2">Family</p>
                                    <div class="card-body">

                                        <div class="mb-1">
                                            <label for="id_first_family">First Family</label>
                                            {% render_field fragrance_filter.form.first_family class='form-control' %}
                                        </div>
                                        <div class="mb-1">
                                            <label for="id_second_family">Second Family</label>
                                            {% render_field fragrance_filter.form.second_family class='form-control' %}
                                        </div>
                                        <div class="mb-1">
                                            <label for="id_third_family">Third Family</label>
                                            {% render_field fragrance_filter.form.third_family class='form-control' %}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col">
                                <div class="card shadow-sm">
                                    <p class="mt-1 mb-0 ms-2">Nota</p>
                                    <div class="card-body">

                                        <div class="mb-1">
                                            <label for="id_nota_salida">Nota Salida</label>
                                            {% render_field fragrance_filter.form.nota_salida class='form-control' %}
                                        </div>
                                        <div class="mb-1">
                                            <label for="id_nota_cuerpo">Nota Cuerpo</label>
                                            {% render_field fragrance_filter.form.nota_cuerpo class='form-control' %}
                                        </div>
                                        <div class="mb-1">
                                            <label for="id_nota_fondo">Nota Fondo</label>
                                            {% render_field fragrance_filter.form.nota_fondo class='form-control' %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <label for="id_nota_salida">Market Type</label>
                                {% render_field fragrance_filter.form.market_type class='form-control' %}
                                <label for="id_technology">Technology</label>
                                {% render_field fragrance_filter.form.technology class='form-control' %}
                                <label for="id_collection_prom">Collection</label>
                                {% render_field fragrance_filter.form.collection_prom class='form-control' %}
                                <label for="id_natural_extracts">Natural Extracts</label>
                                {% render_field fragrance_filter.form.natural_extracts class='form-control' %}

                            </div>


                        </div>

                        <!--  third row  -->
                        <div class="row mb-3 ms-1 ">

                            <div class="col">
                                <label for="id_essential_club">Essential Club</label>
                                {% render_field fragrance_filter.form.essential_club %}

                            </div>

                            <div class="col">
                                <label for="id_vigente">Vigente</label>
                                {% render_field fragrance_filter.form.vigente %}

                            </div>
                            <div class="col">
                                <label for="id_shortlisted">Short Listed</label>
                                {% render_field fragrance_filter.form.shortlisted %}

                            </div>
                            <div class="col">
                                <label for="id_won_selling">Won Selling</label>
                                {% render_field fragrance_filter.form.won_selling %}

                            </div>


                        </div>
                        <!--  forth row  -->
                        <div class="row mb-3 ms-1 ">
                            <div class="col">
                                <label for="id_natural_derived">Natural Derived</label>
                                {% render_field fragrance_filter.form.natural_derived %}

                            </div>


                            <div class="col">
                                <label for="id_ecocert">Ecocert</label>
                                {% render_field fragrance_filter.form.ecocert %}


                            </div>

                            <div class="col">
                                <label for="id_ecocert">Ecocert</label>
                                {% render_field fragrance_filter.form.ecocert %}


                            </div>
                            <div class="col">
                                <label for="id_bio_degradable">Bio Degradable</label>
                                {% render_field fragrance_filter.form.bio_degradable %}

                            </div>
                        </div>


                        <!-- forth row -->

                        <div class="row mb-3 ms-1 ">


                            <div class="col">
                                <label for="id_dangerous_good">Dangerous Good</label>
                                {% render_field fragrance_filter.form.dangerous_good %}

                            </div>
                            <div class="col">
                                <label for="id_ai">AI</label>
                                {% render_field fragrance_filter.form.ai %}

                            </div>
                            <div class="col">

                            </div>
                            <div class="col">


                            </div>
                        </div>

                        <!-- Fifth Row -->

                        <div class="row mb-3 ms-1 ">
                              <label for="id_commentsmodel__comment">Comments</label>
                                {% render_field fragrance_filter.form.commentsmodel__comment class='form-control' %}
                        </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <input type="reset">
                        </div>

                    </form>
                </div>
            </div>

        </div>


        <!------------------------------ END FILTER AREA ------------------------------------------->


        <!-- nueva tabla list fragrances -->
        <BR>
        <H2>LIST OF FRAGRANCES</H2>
        <table id="fragrances_table" class="table table-hover">
            <thead>
            <tr>
                <th>Code</th>
                <th>First Family</th>
                <th>Expiry Date</th>
                <th>Market Name</th>
            </tr>
            </thead>
            <tbody>

            {% for fragrance in fragrance_filter.qs %}
                <tr>
                    <td>
                        <a href="{% url 'fragrance_detail' fragrance.id %}">{{ fragrance.fragrance_code }}</a>
                    </td>

                    <td>

                        <ul class="list-group list-group-flush">
                            {% for firstfamily in fragrance.first_family.all %}
                                <li class="list-group-item">{{ firstfamily }} </li>
                            {% endfor %}

                        </ul>


                    </td>

                    <td>
                        {{ fragrance.expiry_date }}
                    </td>
                    <td>
                        <ul class="list-group list-group-flush">
                            {% for market in fragrance.market_type.all %}
                                <li class="list-group-item">{{ market }} </li>
                            {% endfor %}

                        </ul>

                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <br>
    <br>



{% endblock content %}



